{% extends "AppCoder/inicio.html" %} {% load static %} 
{% block contenidoPrincipal %}

<div class="row">  
  <div class="col-8 mx-auto mb-5">
    <div class="card">
      <div class="card-header bg-info">Buscar Viajes :</div>
      <div class="card-body mx-auto">  
        <form class="row g-3" method="POST" action="../buscarviajes/" > 
          {% csrf_token %}        
          <div class="col-auto" >         
            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="buscar por nombre">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Buscar</button>
          </div>
        </form>  
      </div>
    </div>
    {% if viajes.count > 0 %}
      <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Fecha</th>
              <th scope="col">Cliente</th>
              <th scope="col">Destino</th>
              
            </tr>
          </thead>
          <tbody>
              {% for viaje in viajes  %}
            <tr>
              
              <td>{{viaje.id}}</td>
              <td>{{viaje.Fecha}}</td>
              <td>{{viaje.Cliente}}</td>
              <td>{{viaje.Pais}}</td>

              
              
              
            </tr>
            {% endfor %}
          
          </tbody>
        </table>      
    {% endif %}

    {% if viajes.count == 0 %}
    <div class="alert alert-danger" role="alert">
        {{valida}} 
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
