{% extends "AppCoder/inicio.html" %} {% load static %} 
{% block contenidoPrincipal %}

<div class="row">   
    {% if viajes.count > 0 %}
      <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Fecha</th>
              <th scope="col">Cliente</th>
              <th scope="col">Destino</th>
              
            </tr>
          </thead>
          <tbody>
              {% for viaje in viajes  %}
            <tr>
              
              <td>{{viaje.id}}</td>
              <td>{{viaje.Fecha}}</td>
              <td>{{viaje.Cliente}}</td>
              <td>{{viaje.Pais}}</td>             
              
              
            </tr>
            {% endfor %}
          
          </tbody>
        </table>      
    {% endif %}
    
  </div>
</div>

{% endblock %}
