{% extends "AppCoder/inicio.html" %} {% load static %} 
{% block contenidoPrincipal %}

<div class="row"> 
  <div class="col-6 mx-auto">
    {% if clientes.count > 0 %}
      <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>             
              
            </tr>
          </thead>
          <tbody>
              {% for cli in clientes  %}
            <tr>              
              <td>{{cli.id}}</td>
              <td>{{cli.nombre}}</td>
              <td>{{cli.apellido}}</td>               
            </tr>
            {% endfor %}
          
          </tbody>
        </table>      
    {% endif %}
  </div> 
  </div>
</div>

{% endblock %}
