{% extends "AppCoder/inicio.html" %} {% load static %} 
{% block contenidoPrincipal %}
<section
  class="mb-2" 
  style="background: linear-gradient(45deg, #3ac5c8 1%, #0b509e 100%)"
>
  <div class="row" style="height:720px;" >
    
    <div class="col-6 mx-auto p-5">
      <h2 class="h1 mb-4 text-white"><i class="fa fa-address-card me-2"></i>Nuevo Perfil.</h2>
      <hr class="border-primary-subtle mb-4 text-white">
      <form
        class="quoteform lightform h-60"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="row g-3">
          <div class="col">
            <label for="id_username">Username:</label>
            <input
            type="text"
            name="username"
            class="form-control"
            maxlength="150"
            id="id_username"
          />
          </div>
          <div class="col">
            <label for="id_first_name">Nombre:</label>
          <input
            type="text"
            name="first_name"
            class="form-control"
            maxlength="150"
            id="id_first_name"
            />
          </div>
          <div class="col">
            <label for="id_last_name">Apellidos:</label>
          <input
            type="text"
            name="last_name"
            class="form-control"
            maxlength="150"
            id="id_last_name"
          />
          </div>
        </div>

        <div class="row g-3">
          <div class="col">
            <label for="id_email">Dirección de correo electrónico:</label>
            <input
              type="text"
              name="email"
              class="form-control"
              maxlength="254"
              id="id_email"
            />
          </div>          
        </div>

        <div class="row g-3">
          <div class="col">
            <label for="id_password1">Contraseña:</label>
          <input
            type="password"
            name="password1"
            autocomplete="new-password"
            class="form-control"
            required
            id="id_password1"
          />          
          </div>
          <div class="col">
            <label for="id_password2">Contraseña (confirmación):</label>
            <input
              type="password"
              name="password2"
              autocomplete="new-password"
              class="form-control"
              required
              id="id_password2"
            /> 
          </div>
        </div>
        <p class="text-center">
          <button type="submit" class="btn btn-warning "><i class="fa fa-save me-2"></i>Registrar Perfil</button>
        </p>
        
      </form>
    </div>
    <!-- end col -->
  </div>
</section>

{% endblock %}
